/* .fbLogo{
    background-image: url(/rsrc.php/v3/y4/r/gf6iHxsw8zm.png);
} */
* {
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden;
} */
body {
    overflow-x: hidden;
    overflow-y: scroll;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    background-color: #edf0f5;
}

.navbar{
    background-color: #3B5998;
    border-bottom: 1px solid #133783;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100px;
    /* height: 14vh; */

    /* min-height: 42px; */
    /* position: relative;
    top: 0; */
    /* left: 0;
    width: 100%;
    z-index: 1;  */
    /* top: 0;
    left: 0;
    right: 0; */
    /* min-height: 42px; */
    
    /* min-width: max-content;
    margin-top: 0; 
    padding-top: 0; */
}

/* .nav-center{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;

    position: relative;
    z-index: 1;
} */

.nav-header{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    /* right: 0;
    left: 0; */
    /* display: flex;
    justify-content: space-between; */
}

.form{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}


/* .fbLogo{
    display: block;
    background-position: 0 0;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    margin-top: 17px;
} */


/* table{
    line-height: 1.34;
} */

#loginBtn{
    /* border: none; */
    background-color: #4c70ba;
    color: #fff;
    width: 55px;
    border: 1px solid;
    border-color: #344e86;
    border-width: 0.5px;
    border-radius: 2px;
    font-size: 12px; 
    font-weight: bold;
    line-height: 18px;
    box-sizing: border-box;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
}

#loginBtn:hover{
    background-color: #33548f;
}

#btn{
    background-color: #4c70ba;
    color: #fff;
    width: 53px;
    border: 1px solid;
    border-color: #344e86;
    border-width: 0.5px;
    border-radius: 2px;
    font-size: 12px; 
    font-weight: bold;
    margin-left: 12.5rem;
}

#btn:hover{
    background-color: #33548f;
}

.lightGreenBtn{
    color: #fff;
    font-size: 12px; 
    font-weight: bold;
    background-color: #42b72a;
    border: 1px solid;
    border-color: #42b72a;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
}

.lightGreenBtn:hover{
    background-color: #63BE09;
}

.signUpBtn{
    position: absolute;
    left: 200px;
    top: 2.8rem;
    vertical-align: middle;
}




/* .cancel{
    color: #666;
} */

/* .cancel:hover{
    background-color: #33548f;
} */

.main{
    background: #edf0f5;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* height: 86vh; */
    position: relative;
    top: 0;
    bottom: 0;
}

.leftSide{
    position: absolute;
    /* top: 45rem; */
    left: 0;   
}

.rightSide{
    position: absolute;
    left: 0;
    right: 3rem;
}

.txt{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.25em;
}

#forgot{
    font-size: 12px;
    color: #9cb4d8;
    /* font-weight: normal; */
}

/* input:focus{
    outline: none;
} */

.inputs{
    /* height: 2.5rem;
    border-width: 0.5px;
    border-radius: 3px;
    border-color: #999; */
    border: 1px solid;
    border-color: #bdc7d8;
    border-width: 0.5px;
    border-radius: 5px;
    margin: 0;
    font-size: 18px;
    padding: 8px 10px;
    width: 172px;
    /* transition: opacity 0.2s ease-in; */
}

/* .inputs:focus{
    outline: none; 
} */

.emailPassword{
    font-size: 12px;
    border-color: black;
    border-width: 0.5px;
    /* padding-top: 0rem; */
    /* margin-top: 1em; */
}

h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

p{
    font-weight: bold;
    color: #666;
}

.fbLogo{
    margin-top: -3rem;
}

table{
    margin-top: -3rem;
    margin-right: 8rem;
}

table td{
    padding-top: 0rem;
}

select{
    border-radius: none;
    border-color: #999;
}

.ic{
    color: #57595D;
}

.options{
    font-size: 12px;
}

/* .show-toast{
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
} */

.main-popover{
    position: relative;
    top: -2.2rem;
    left: 15rem;
    right: 2rem;
    bottom: 0;
    cursor: pointer;
}

/* #popover-basic{
    position: relative;
    top: -2.2rem;
    left: 15rem;
    right: 2rem;
    bottom: 0;
    cursor: pointer;
} */

.toast1{
    width: 25rem;
    position: absolute;
    top: 20rem;
    left: -2rem;
}

.toast2{
    width: 25rem;
    position: absolute;
    top: 26rem;
    left: -2rem;
    z-index: 1;
}

.toast-text{
    font-size: 12px;
    color: black;
}

.sign-up-btn{
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    line-height: 126%;
    font-weight: bold !important;
    letter-spacing: normal;
}

#see-photos{
    color: #333;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
}

ul{
    list-style-type: none;
}

.join{
    padding-bottom: 4rem;
    margin-right: 5rem;
    position: relative;
    top: 0;
    
}

.pop{
    background-color: #fff;
    border: 0 solid white;
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    height: 287.3px;
    width: 266px;
    padding-bottom: 6px;
    position: absolute;
    top: 3rem;
}

.dropLabel{
    font-size: 12px;
    color: #606770;
    font-weight: bold;
    line-height: 2px;
    text-align: left;
    vertical-align: middle;
    padding-top: 0.5px;
}

.dropInputs{
    border: 1px solid #d3d6db;
    font-size: 14px;
    height: 28px;
    margin: 1px;
    padding: 1px 3px;
    text-align: left;
    width: 239px;
    line-height: 2px;
    padding-top: 0.5px;
}

#formForgot{
    color: #385898;
    font-size: 12px;
    padding-left: 9.2rem;
}

#dropBtn{
    background-color: #4c70ba;
    color: #fff;
    height: 28px;
    width: 239px;
    border: 1px solid;
    border-color: #344e86;
    border-width: 0.5px;
    border-radius: 2px;
    font-size: 12px; 
    font-weight: bold;
    line-height: 18px;
    margin-top: 0.6rem;
    padding-top: 0;
    box-sizing: border-box;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
}

#dropBtn:hover{
    background-color: #33548f;
}


.secondSignUpBtn{
    margin-left: 5rem;
    margin-right: 5rem;
}

.pageNav{
    padding-left: 5rem;
}

.createPageContainer{
    width: 981px;
    /* margin-left: 10rem; */
    padding-left: 4rem;
    align-items: center;
    /* margin: 0 auto; */
    /* display: block; */
    /* padding-left: 5rem;
    margin-left: 5rem; */
}

.pageTable{
    margin-top: 6rem;
    padding-left: 4rem;
    /* position: absolute; */
    /* position: relative; */
    /* z-index: 1;  */
}

.tds{
    background-color: #fff;
    width: 478px;
    height: 472px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}


.community{
    margin-left: 1.2rem;
}


/* .close-btn{

} */
/* #forgot{
    &:hover{
        text-decoration: underline;
    }
} */